.blur-container {
    color: #ffffff;
    padding: 16px;
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    background-color: rgba(51, 51, 51, 0.32);
    min-width: 80px;
}
