#video-stream {
  width: 100vw;
  height: 100vh;
}

.greenprogress {
  height: 40px;
  width: 220px;
  border-radius:12px;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 5px;
  display: table;
}

.box {
  position:relative;
}

.bar {
  background-color: #ffffff30;
  border-radius: 10px;
  transition: all .3s linear;
}

video {
  object-fit: cover;
  object-position: center;
}

.camera {
  width: 100vw;
  height: 100vh;
}

.blur {
  border-radius:12px;
  overflow: hidden;
  position: fixed;
  bottom: 30px;
  left: 30px;
  height: 140px;
  width: 230px;
  backdrop-filter: blur(10px);
  background-color: #00000030;
}

.predlabel{
  padding: 2% 0;
}