video {
  object-fit: cover;
  object-position: center;
}

.camera {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.cameraModal {
  width: 60%;
  max-width: 700px;
}

.cameraMenu {
  position: absolute;
  z-index: 20;
  bottom: 0;
  right: 0;
  padding: 30px 30px;
}

.camDropdown {
  width: 400px;
}